.paint{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  /*background: url('paint/Comp 1_00019.png') no-repeat 0 0;*/
  background-size: 100% 100%;
}

.startAnim{
  width: 2500%;
  transform: translateY(-50%) translateX(-2%);
  background: url('../img/paint/out.png') no-repeat 0 0;
  background-size: 100% 100%;
  animation: cd-sprite 1.5s steps(24);
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}


.midAnim{
  /*transform: translateY(-48%) translateX(-50%);*/
}
/*.paint{
  position: absolute;
  width: 1280px;
  height: 720px;
  background: url('paint/out.png') no-repeat 0 0;
}*/


.transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}



@keyframes cd-sprite {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}


.content{
  /*background: url('moseshi.jpg');*/
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  /*background-size: 100% 100%;*/
}

#blurImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  filter: blur(5px);
}


#plainImg img,#blurImg img{
  position: absolute;
  top:0;
  width: 100%;
}

body{
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}


.section-3 .text-wrapper {
    max-width: 600px;
    margin: auto;
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 4%;

}

.section-3 .text-wrapper span {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
}

.section-3 .text-wrapper span.visible {
    opacity: 1;
}
