html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav{
  position: absolute;
  top:0;
  height: 10vh;
  width: 100vw;
  background: url('../img/navpat.png') repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
}


.nav-list{
  list-style: none;
  color: white;
  margin: auto 3vw;
  font-family: 'Verdana',sans-serif;
  width: 60%;
display: flex;
justify-content: flex-end;
}

.nav-list li{
  display: inline;
  padding-right: 3vw;
  font-size: 1em;
  }


.logo{
  width: 40%;
display: flex;
justify-content: center;
align-content: center;
}

.logo-img{
  background: url('../img/logo.png') no-repeat;
position: relative;
width: 25vw;
height: 80%;
background-size: auto 100%;
top: 2%;
background-position: center;
}
/*

.nav-bg-pattern{
  position: absolute;
  top:10vh;
  width: 100vw;
  height: 13vh;
background: url('../img/navpat.png') repeat;
background-position: center;
}*/

.nav-tip{
  position: absolute;
  top:10vh;
  background: url(../img/navtip.png);
}
